# dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# testing
coverage
.coverage
**/coverage/

# build
dist
build
.next/
out/
storybook-static/

# misc
.DS_Store
*.pem
*.local
.env.*local
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# turbo
.turbo

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editors
.vscode/*
!.vscode/extensions.json
.idea

# cache
.eslintcache 