:root {
  --hero-border-radius-sm: 0.25rem;
  --hero-border-radius-md: 0.375rem;
  --hero-border-radius-lg: 0.5rem;
  --hero-border-radius-xl: 0.75rem;
  --hero-border-radius-2xl: 1rem;
  --hero-border-radius-full: 9999px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add additional custom styles here */
